<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto ">

        <!-- CONTENT GOES HERE -->

            <mat-tab-group  >
                <mat-tab  class="bg-primary" label="Short Link">
                    <fuse-card class="flex items-center mb-2 w-full p-6 filter-info">
                        <div class="flex w-11/12 ">
                            <img
                                class="w-16 h-16 mr-6 rounded-full"
                                src="assets/images/avatars/male-04.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col">
                                <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                                <div class="text-md leading-tight text-primary">Complete super easy survey!</div>
                                <div class="text-md text-secondary mt-2">available every 24h</div>
                            </div>
                        </div>
                        <div class="flex flex-col items-center max-w-80 ">
                            <button
                                class="w-full "
                                mat-flat-button
                                [color]="'primary'">
                                0.05 BBC
                            </button>
                        </div>
                    </fuse-card>
                    <fuse-card class="flex items-center mb-2 w-full p-6 filter-info">
                        <div class="flex w-11/12 ">
                            <img
                                class="w-16 h-16 mr-6 rounded-full"
                                src="assets/images/avatars/male-04.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col">
                                <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                                <div class="text-md leading-tight text-primary">Complete super easy survey!</div>
                                <div class="text-md text-secondary mt-2">available every 24h</div>
                            </div>
                        </div>
                        <div class="flex flex-col items-center max-w-80 ">
                            <button
                                class="w-full "
                                mat-flat-button
                                [color]="'primary'">
                                0.05 BBC
                            </button>
                        </div>
                    </fuse-card>
                    <fuse-card class="flex items-center mb-2 w-full p-6 filter-info">
                        <div class="flex w-11/12 ">
                            <img
                                class="w-16 h-16 mr-6 rounded-full"
                                src="assets/images/avatars/male-04.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col">
                                <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                                <div class="text-md leading-tight text-primary">Complete super easy survey!</div>
                                <div class="text-md text-secondary mt-2">available every 24h</div>
                            </div>
                        </div>
                        <div class="flex flex-col items-center max-w-80 ">
                            <button
                                class="w-full "
                                mat-flat-button
                                [color]="'primary'">
                                0.05 BBC
                            </button>
                        </div>
                    </fuse-card>
                    <fuse-card class="flex items-center mb-2 w-full p-6 filter-info">
                        <div class="flex w-11/12 ">
                            <img
                                class="w-16 h-16 mr-6 rounded-full"
                                src="assets/images/avatars/male-04.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col">
                                <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                                <div class="text-md leading-tight text-primary">Complete super easy survey!</div>
                                <div class="text-md text-secondary mt-2">available every 24h</div>
                            </div>
                        </div>
                        <div class="flex flex-col items-center max-w-80 ">
                            <button
                                class="w-full "
                                mat-flat-button
                                [color]="'primary'">
                                0.05 BBC
                            </button>
                        </div>
                    </fuse-card>
                </mat-tab>
                <mat-tab label="PTC">
                    <fuse-card class="flex items-center  w-full p-6 filter-info"  style=" background:url('assets/images/avatars/male-04.jpg') ;background-size: cover;">
                        <div class="flex w-11/12 ">
                        <img
                            class="w-16 h-16 mr-6 rounded-full"
                            src="assets/images/avatars/male-04.jpg"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                            <div class="text-md leading-tight text-primary">Complete super easy survey!</div>
                            <div class="text-md text-secondary mt-2">available every 24h</div>
                        </div>
                        </div>
                        <div class="flex flex-col items-center max-w-80 ">
                            <button
                                class=" "
                                mat-flat-button
                                [color]="'primary'">
                                0.05 BBC
                            </button>
                        </div>
                    </fuse-card>
                </mat-tab>
                <mat-tab label="Offers" class="">
                    <fuse-card class="inline-flex flex-col max-w-80 w-full p-8 md:-left-4 filter-info">
                    <div class=" flex items-center justify-center  ">
                        <img
                            class="w-16 h-16 mr-6 rounded-full mb-4 "
                            src="assets/images/avatars/male-04.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                    <div class="mt-4">
                        Complete super easy survey!
                        <br><br>
                        Description de Blah Blah Blah.
                    </div>
                    <hr class="w-full border-t my-6">
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'mat_outline:ads_click'"></mat-icon>
                            <span class="leading-none">Available every 24h</span>
                        </div>
                    </div>
                    <button
                        class="px-6 mt-8"
                        mat-flat-button
                        [color]="'primary'"
                        [routerLink]="['./']">
                        0.05 BBC
                    </button>
                </fuse-card>

                    <fuse-card class="inline-flex flex-col max-w-80 w-full p-8 md:-left-4 filter-info">
                        <div class=" flex items-center justify-center  ">
                            <img
                                class="w-16 h-16 mr-6 rounded-full mb-4 "
                                src="assets/images/avatars/male-04.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                        <div class="mt-4">
                            Complete super easy survey!
                            <br><br>
                            Description de Blah Blah Blah.
                        </div>
                        <hr class="w-full border-t my-6">
                        <div class="flex flex-col">
                            <div class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'mat_outline:ads_click'"></mat-icon>
                                <span class="leading-none">Available every 24h</span>
                            </div>
                        </div>
                        <button
                            class="px-6 mt-8"
                            mat-flat-button
                            [color]="'primary'"
                            [routerLink]="['./']">
                            0.05 BBC
                        </button>
                    </fuse-card>
                    <fuse-card class="inline-flex flex-col max-w-80 w-full p-8 md:-left-4 filter-info">
                        <div class=" flex items-center justify-center  ">
                            <img
                                class="w-16 h-16 mr-6 rounded-full mb-4 "
                                src="assets/images/avatars/male-04.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                        <div class="mt-4">
                            Complete super easy survey!
                            <br><br>
                            Description de Blah Blah Blah.
                        </div>
                        <hr class="w-full border-t my-6">
                        <div class="flex flex-col">
                            <div class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'mat_outline:ads_click'"></mat-icon>
                                <span class="leading-none">Available every 24h</span>
                            </div>
                        </div>
                        <button
                            class="px-6 mt-8"
                            mat-flat-button
                            [color]="'primary'"
                            [routerLink]="['./']">
                            0.05 BBC
                        </button>
                    </fuse-card>
                    <fuse-card class="inline-flex flex-col max-w-80 w-full p-8 md:-left-4 filter-info">
                        <div class=" flex items-center justify-center  ">
                            <img
                                class="w-16 h-16 mr-6 rounded-full mb-4 "
                                src="assets/images/avatars/male-04.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                        <div class="mt-4">
                            Complete super easy survey!
                            <br><br>
                            Description de Blah Blah Blah.
                        </div>
                        <hr class="w-full border-t my-6">
                        <div class="flex flex-col">
                            <div class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'mat_outline:ads_click'"></mat-icon>
                                <span class="leading-none">Available every 24h</span>
                            </div>
                        </div>
                        <button
                            class="px-6 mt-8"
                            mat-flat-button
                            [color]="'primary'"
                            [routerLink]="['./']">
                            0.05 BBC
                        </button>
                    </fuse-card>
                    <fuse-card class="inline-flex flex-col max-w-80 w-full p-8 md:-left-4 filter-info">
                        <div class=" flex items-center justify-center  ">
                            <img
                                class="w-16 h-16 mr-6 rounded-full mb-4 "
                                src="assets/images/avatars/male-04.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="text-2xl font-semibold leading-tight">Easy money with surveys!</div>
                        <div class="mt-4">
                            Complete super easy survey!
                            <br><br>
                            Description de Blah Blah Blah.
                        </div>
                        <hr class="w-full border-t my-6">
                        <div class="flex flex-col">
                            <div class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'mat_outline:ads_click'"></mat-icon>
                                <span class="leading-none">Available every 24h</span>
                            </div>
                        </div>
                        <button
                            class="px-6 mt-8"
                            mat-flat-button
                            [color]="'primary'"
                            [routerLink]="['./']">
                            0.05 BBC
                        </button>
                    </fuse-card>


                </mat-tab>
                <mat-tab label="Account">Account</mat-tab>
            </mat-tab-group>




    </div>

</div>
